---
import LocationSelect from '@components/LocationSelect.astro';
---

<style>
    h1 {
        color: var(--accent-color);
        margin: 0;
        text-align: center;
    }
</style>

<h1>
    When can I play pickleball in
    <LocationSelect/>
    ?
</h1>