<style>
  form {
    display: inline-block;
    position: relative;
  }

  label {
    display: none;
  }

  input {
    font: inherit;
    color: inherit;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 2px solid currentColor;
    outline: none;
    display: inline-block;
    width: 10ch;
  }

  #locations {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font-size: 1rem;
    font-weight: normal;
    background: var(--background-color);
    max-height: 50svh;
    overflow: auto;
    scroll-behavior: smooth;
    z-index: 1;
  }

  input[aria-expanded="true"] ~ #locations {
    display: flex;
  }

  #locations :global(button) {
    background: transparent;
    border: 0;
    padding: 0.5rem;
    margin: 0;
    cursor: pointer;
    font: inherit;
  }

  #locations :global(button[tabindex="0"]) {
    background: color-mix(
      in srgb,
      var(--accent-color),
      var(--background-color) 10%
    );
  }

  /** Removing oddly positioned UA marker */
  input::-webkit-calendar-picker-indicator {
    display: none !important;
  }
</style>

<form id="form" onsubmit="return false">
  <label for="input">Locations</label>
  <input
    aria-expanded="false"
    aria-controls="locations"
    id="input"
    type="text"
    name="city"
    autocomplete="off"
    placeholder="Enter a city"
  />
  <div id="locations"></div>
</form>

<script src="@scripts/location-select.ts"></script>
