<style>
    p {
        white-space: pre-line;
        background-color: color-mix(in srgb, var(--background-color), white 10%);
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin: 0;
        line-height: 1.8;
    }
</style>

<p id="results">Loading...</p>

<script src="@scripts/results.js"></script>
