:root {
  color-scheme: light dark;
  --accent-color: light-dark(#2169a7, #3498db);
  --onaccent-color: light-dark(#ffffff, #ffffff);
  --foreground-color: light-dark(#222222, #dddddd);
  --background-color: light-dark(#ffffff, #333333);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: color-mix(in srgb, var(--background-color), black 5%);
  color: var(--foreground-color);
  line-height: 1.6;
  margin: 0;
}

.container {
  background-color: color-mix(in srgb, var(--background-color), transparent 10%);
  border-radius: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid color-mix(in srgb, var(--background-color), white 10%);
  backdrop-filter: blur(4px);
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

h1 {
  color: var(--accent-color);
  margin: 0;
  text-align: center;
}

h2 {
  color: color-mix(in srgb, var(--foreground-color), black 20%);
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.info-icon {
  font-size: 0.8em;
  color: var(--accent-color);
  cursor: pointer;
  position: relative;
}

.info-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: color-mix(in srgb, var(--accent-color), black 10%);
  color: var(--onaccent-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  white-space: pre-line;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  width: max-content;
  max-width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.info-icon:hover::after {
  opacity: 1;
  visibility: visible;
}

#result {
  white-space: pre-line;
  background-color: color-mix(in srgb, var(--background-color), white 10%);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 0;
  line-height: 1.8;
}

.loading {
  font-style: italic;
}

main {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  place-items: center;
}

.scene {
  height: 100vh;
  width: 100vw;
  transform: translateZ(-1px) scale(2);
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.content {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  isolation: isolate;
}

.pickleball,
.paddle {
  position: absolute;
  background-size: cover;
}

.pickleball {
  width: 10%;
  height: 10%;
  background: url("images/ball.png") no-repeat center/contain;
  transform: translateZ(-1px);
}

.paddle {
  width: 20%;
  height: 20%;
}

.paddle.blue {
  background: url("images/bluepad.png") no-repeat center/contain;
}

.paddle.green {
  background: url("images/greenpad.png") no-repeat center/contain;
}

.paddle.peach {
  background: url("images/peachpad.png") no-repeat center/contain;
}

.paddle.pink {
  background: url("images/pinkpad.png") no-repeat center/contain;
}

/* location input */

.custom-select {
  display: inline-block;
  position: relative;
}

#locationInput {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  border-bottom: 2px solid currentColor;
  outline: none;
  padding: 0 5px;
  width: 200px;
  display: inline-block;
}

#locationInput:focus {
  background-color: color-mix(in srgb, currentcolor, transparent 90%);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: color-mix(in srgb, var(--background-color), white 10%);
  border: 1px solid color-mix(in srgb, var(--background-color), white 20%);
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.dropdown-list li:hover {
  background-color: color-mix(in srgb, var(--background-color), white 20%);
}

#map {
  height: 400px;
}

/* social media */
.social-icon {
  font-size: 2rem;
  color: #0077b5;
  transition: 0.3s ease;
  opacity: .8;
}

.social-icon:hover {
  opacity: 1;
}

/* calendar */
.calendar-container {
  background-color: color-mix(in srgb, var(--background-color), black 5%);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header h2 {
  color: currentColor;
}

.toggle-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.expanded .toggle-icon {
  transform: rotate(180deg);
}

#calendar {
  width: 100%;
  border-collapse: collapse;
  display: none;
}

.expanded #calendar {
  display: table;
}

#calendar th,
#calendar td {
  border: 1px solid color-mix(in srgb, var(--background-color), black 20%);
  padding: 10px;
  text-align: center;
}

#calendar thead {
  background-color: var(--background-color);
}

#calendar tbody tr:nth-child(even) {
  background-color: var(--background-color);
}

.time-cell {
  color: color-mix(in srgb, var(--foreground-color), black 20%);
}

.event-cell {
  background-color: var(--accent-color);
  color: var(--onaccent-color);
}